{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title> Auto-Swappers! </title>
</head>
<body>
  <nav>
    <h1>Welcome to Auto-Swappers!</h1>
    <h2>
      <a href="/cars"> View cars</a> | <a href="/Sellers"> View Sellers </a> | <a href="/Sellers/new"> You want to sell with us? </a></h2>
  </nav>


  {% block content %}
  {% endblock %}
</body>
</html>

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title> Hogwarts! </title>
</head>
<body>
  <nav>
    <h1>Welcome to Hogwarts!</h1>
    <h2>
      <a href="/sellers"> View sellers</a> | <a href="/cars"> View cars </a> | <a href="/cars/new"> Enroll </a></h2>
  </nav>


  {% block content %}
  {% endblock %}
</body>
</html>

