{% extends 'base.html' %}

{% block content %}
  <div class="car">
    {% for car in car.cars.all %}
    <h2>{{car.name}}</h2>
    <img src="{{car.image_url}}" alt="">
    <form action="/cars/{{car.id}}/delete" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete {{car.name}}">
    </form>
    <a href="/cars/{{car.id}}/edit"> Edit {{car.name}} </a>
    {% endfor %}
    <footer>
      <a href="/cars/{{car.id}}/edit"> Edit {{car.name}} </a>
      <form action="/cars/{{car.id}}/delete">
        {% csrf_token %}
        <input type="submit" value="Delete {{car.name}}">
      </form>
    </footer>
  </div>
{% endblock %}