{% extends 'base.html' %} {% block content %}

<div>
  <img src="{{seller.logo}}" alt="logo of {{seller.name}}" /><br />
  <span>{{ seller.name }}</span>
  <p>{{seller.address}}</p>
  <p>{{seller.phone}}</p>
  {% if 'http://' in seller.web_site %}
  <a href="{{ seller.web_site }}">{{ seller.web_site }}</a>
  {% else %}
  <a href="http://{{ seller.web_site }}">{{ seller.web_site }}</a>
  {% endif %}
  <br />
  <br />

  {% for car in seller.car.all %}
  <h2><a href="/car/{{car.id}}">{{car.model}}</a></h2>
  {% endfor %}
  <footer>
    <a href="/seller/{{seller.id}}/edit"> Edit {{seller.name}} </a>
    <form action="/seller/{{seller.id}}/delete">
      {% csrf_token %}
      <input type="submit" value="Delete {{seller.name}}" />
    </form>
  </footer>
</div>
{% endblock %}
