{% extends 'base.html' %}

{% block content %}
  <div class="seller">
    {% for seller in seller.sellers.all %}
    <h2>{{seller.name}}</h2>
    <img src="{{seller.image_url}}" alt="">
    <form action="/seller/{{seller.id}}/delete" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete {{seller.name}}">
    </form>
    <a href="/seller/{{seller.id}}/edit"> Edit {{seller.name}} </a>
    {% endfor %}
    <footer>
      <a href="/seller/{{seller.id}}/edit"> Edit {{seller.name}} </a>
      <form action="/seller/{{seller.id}}/delete">
        {% csrf_token %}
        <input type="submit" value="Delete {{seller.name}}">
      </form>
    </footer>
  </div>
{% endblock %}